<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>com.sparanoid.itunes-artwork-grabber</string>
       <key>Developer Identifier</key>
       <string>B5483RCL5H</string>
       <key>CFBundleVersion</key>
       <string>1</string>
       <key>CFBundleShortVersionString</key>
       <string>1.0.3</string>
       <key>URL</key>
       <string>https://github.com/sparanoid/itunes-artwork-grabber/releases/download/v1.0.3/itunes-artwork-grabber.safariextz</string>
     </dict>
   </array>
</dict>
</plist>
