<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Tunghsiao Liu</string>
	<key>Builder Version</key>
	<string>9537.85.14.17</string>
	<key>CFBundleDisplayName</key>
	<string>iTunes Artwork Grabber</string>
	<key>CFBundleIdentifier</key>
	<string>com.sparanoid.itunes-artwork-grabber</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>itunes-artwork-grabber.user.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Get high-res artwork for apps, music, books, movies, TV shows, and more, all types supported.</string>
	<key>DeveloperIdentifier</key>
	<string>B5483RCL5H</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>itunes.apple.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://raw.githubusercontent.com/sparanoid/itunes-artwork-grabber/master/safari/update.plist</string>
	<key>Website</key>
	<string>http://sparanoid.com/work/itunes-artwork-grabber/</string>
</dict>
</plist>
